<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>    
  <add name="AttendanceEntities" connectionString="metadata=res://*/AttendanceEntity.csdl|res://*/AttendanceEntity.ssdl|res://*/AttendanceEntity.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.1.203;initial catalog=Attendance;user id=sa;password=retech@13qe;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>