
@{
    Layout = null;
}

<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="App-Config" content="fullscreen=yes,useHistoryState=yes,transition=yes">
    <meta name="hotcss" content="initial-dpr=2">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>重复报名</title>
    <link href="~/Content/SignUp/reset.css" rel="stylesheet" />
    <link href="~/Content/SignUp/sign.css" rel="stylesheet" />
    <script src="~/Content/js/hotcss.js"></script>
</head>
<body>
    <div class="success_err">
        <img src="~/Content/SignUp/kaoqing/no.png" alt="">
        <h1>您已注册过该培训班</h1>
    </div>
    
</body>